package ${package}.${moduleName}.domain;

import com.baomidou.mybatisplus.annotation.TableName;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.experimental.Accessors;

import java.io.Serializable;
import java.time.LocalDateTime;

/**
 * ${comments} 实体对象
 *
 * @author ${author}
 * @since ${date}
 */
@Data
@Accessors(chain = true)
@NoArgsConstructor
@ApiModel(description = "${comments}")
@TableName("${tableName}")
public class ${className} implements Serializable {

    private static final long serialVersionUID = 1L;

    #foreach ($column in $columns)
/**
     * $column.columnComment
     */
    @ApiModelProperty(value="$column.columnComment")
    private $column.javaType $column.javaField;

    #end

}
