import request from '@/utils/request'

// 查询${comments}列表
export function list${className}(query) {
  return request({
    url: '/${moduleName}/${classname}s',
    params: query
  })
}

// 查询${comments}详细
export function get${className}(${pk.javaField}) {
  return request(`/${moduleName}/${classname}/${${pk.javaField}}`);
}

// 添加或者修改${comments}
export function addOrUpdate${className}(data) {
  return request({
    url: '/${moduleName}/${classname}',
    method: 'post',
    data: data
  })
}

// 删除${comments}
export function delete${className}(${pk.javaField}s) {
  return request.delete(`/${moduleName}/${classname}?ids=${${pk.javaField}s}`);
}

// 导出${comments}
export function export${className}(query) {
  return request({
    url: '/${moduleName}/${classname}/export',
    params: query
  })
}