<template>
  <div class="app-container">
    #parse( "common/search-form.vm" )

    #parse( "common/toolbar.vm" )

    #parse( "common/table.vm" )

    #parse( "common/modal-form.vm" )

  </div>
</template>

#parse( "common/script.vm" )

