package ${package}.domain;

import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.extension.activerecord.Model;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.experimental.Accessors;

import java.time.LocalDateTime;

/**
 * ${comments}
 *
 * @author ${author}
 * @since ${date}
 */
@Data
@Accessors(chain = true)
@NoArgsConstructor
@ApiModel(description = "${comments}")
public class ${className} extends Model<${className}> {

    private static final long serialVersionUID = 1L;

    #foreach ($column in $columns)
/**
     * $column.comments
     */
    #if($column.columnName == $pk.columnName)
@TableId
    #end
@ApiModelProperty(value="$column.comments"#if($column.hidden),hidden=$column.hidden#end)
    private $column.attrType $column.lowerAttrName;

    #end

}
