package ${package}.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${package}.domain.${className};
import org.apache.ibatis.annotations.*;

/**
 * ${comments}
 *
 * @author ${author}
 * @since ${date}
 */
@Mapper
public interface ${className}Mapper extends BaseMapper<${className}> {

    /**
     * 分页查询
     * @param page 分页对象
     * @param ${classname} ${comments}
     * @return IPage<${className}>
     */
    IPage<${className}> select${className}Page(Page<${className}> page, @Param("${className}") ${className} ${classname});

}
