package ${package}.service.impl;

import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import me.batizhao.common.core.exception.NotFoundException;
import ${package}.domain.${className};
import ${package}.mapper.${className}Mapper;
import ${package}.service.${className}Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

import java.time.LocalDateTime;

/**
 * ${comments}
 *
 * @author ${author}
 * @since ${date}
 */
@Service
public class ${className}ServiceImpl extends ServiceImpl<${className}Mapper, ${className}> implements ${className}Service {

    @Autowired
    private ${className}Mapper ${classname}Mapper;

    @Override
    public IPage<${className}> find${className}s(Page<${className}> page, ${className} ${classname}) {
        return ${classname}Mapper.select${className}Page(page, ${classname});
    }

    @Override
    public ${className} findById(${pk.attrType} id) {
        ${className} ${classname} = ${classname}Mapper.selectById(id);

        if(${classname} == null) {
            throw new NotFoundException(String.format("没有该记录 '%s'。", id));
        }

        return ${classname};
    }

    @Override
    @Transactional
    public ${className} saveOrUpdate${className}(${className} ${classname}) {
        if (${classname}.getId() == null) {
            ${classname}.setCreateTime(LocalDateTime.now());
            ${classname}.setUpdateTime(LocalDateTime.now());
            ${classname}Mapper.insert(${classname});
        } else {
            ${classname}.setUpdateTime(LocalDateTime.now());
            ${classname}Mapper.updateById(${classname});
        }

        return ${classname};
    }

}
