package ${package}.service;

import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.IService;
import ${package}.domain.${className};

/**
 * ${comments}
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${className}Service extends IService<${className}> {

    /**
     * 分页查询
     * @param page 分页对象
     * @param ${classname} ${comments}
     * @return IPage<${className}>
     */
    IPage<${className}> find${className}s(Page<${className}> page, ${className} ${classname});

    /**
     * 通过id查询${comments}
     * @param ${pk.lowerAttrName} id
     * @return ${className}
     */
    ${className} findById(Long id);

    /**
     * 添加或修改${comments}
     * @param ${classname} ${comments}
     * @return ResponseInfo
     */
     ${className} saveOrUpdate${className}(${className} ${classname});

}
