<!DOCTYPE mapper
        PUBLIC "-//mybatil.org//DTD Mapper 3.0//EN"
        "http://mybatil.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.batizhao.system.mapper.LogMapper">
    <resultMap type="me.batizhao.system.domain.Log" id="baseResultMap">
        <id column="id" property="id"/>
        <result column="httpRequestMethod" property="httpRequestMethod"/>
        <result column="className" property="className"/>
        <result column="classMethod" property="classMethod"/>
        <result column="description" property="description"/>
        <result column="parameter" property="parameter"/>
        <result column="result" property="result"/>
        <result column="spend" property="spend"/>
        <result column="clientId" property="clientId"/>
        <result column="username" property="username"/>
        <result column="url" property="url"/>
        <result column="ip" property="ip"/>
        <result column="createdTime" property="createdTime"/>
    </resultMap>

    <select id="selectLogPage" resultMap="baseResultMap">
        SELECT
            l.id,
            l.httpRequestMethod,
            l.className,
            l.classMethod,
            l.description,
            l.parameter,
            l.spend,
            l.clientId,
            l.username,
            l.url,
            l.ip,
            l.createdTime,
            l.result
        FROM
        log AS l
        <where>
            <if test="log.classMethod != null and log.classMethod != ''">
                and l.classMethod LIKE CONCAT('%',#{log.classMethod},'%')
            </if>
        </where>
        ORDER BY l.id DESC
    </select>


</mapper>